.latest-match-card-container {
  background-color: #0f172a;
  width: 100%;
  height: 780px;
  color: #ffffff;
  font-family: Bree Serif;
  font-size: 15px;
  border-radius: 8px;
}

.sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.team-logo {
  height: 100px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .latest-match-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
  }
  .team-logo {
    height: 200px;
    width: 250px;
  }
  .disabled {
    display: none;
  }
}
